<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- <suite name="Sequential-Test">

    <test name="Sequential_Tests">
        <classes>
            <class name="com.juaracoding.btestng.TestSatu"/>
            <class name="com.juaracoding.btestng.TestDua"/>
        </classes>
    </test>

</suite> -->

<suite name="Parallel-Test" parallel="classes" >

    <test name="Parallel-Tests">
        <classes>
            <class name="com.juaracoding.btestng.TestSatu"/>
            <class name="com.juaracoding.btestng.TestDua"/>
        </classes>
    </test>

</suite>