<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- <suite name="Sequential_Test_Suite" verbose="1" parallel="false">

    <test name="Sequential_Tests">
        <classes>
            <class name="com.juaracoding.btestng.TestClassOne"/>
            <class name="com.juaracoding.btestng.TestClassTwo"/>
        </classes>
    </test>

</suite> -->

<suite name="Parallel_Test_Suite" verbose="1" parallel="classes" thread-count="2">

    <test name="Parallel_Tests">
        <classes>
            <class name="com.juaracoding.btestng.TestClassOne"/>
            <class name="com.juaracoding.btestng.TestClassTwo"/>
        </classes>
    </test>

</suite>